body {
    width: 100%;
    height: 100%;
}
#Cabecalho{
    width: 100%;
    height: 90px;
    border: 2px solid #000000;
}
#btnCliente, #btnLogoff{
    margin: -15px 30px 10px 10px;
}
#logo{
    text-align: center;
    float:left;
    width: 80px;
    height: 80px;
}
#Titulo{
    width:90%;
    text-align: center;
}
.Dados > h3, .Dados > span{
    display: inline-block;
}
fieldset {
    border: 2px solid #ccc;
    width: 400px;
    float: left;
    margin-right: 20px;
}
legend {
    text-align: left;
    padding-left: 10px;
}
/* Todo comando "display: inline-block" deixa cada componente lado a lado */
.nome, .nasc {
    margin-right: -14px;
    display: inline-block;
    width: 50%;
}
/* O Comando "width: 50%" faz com que cada componente tenha 50% do tamanho horizontal do formulário */
.email, .cpf {
    margin-right: -14px;
    display: inline-block;
    width: 50%;
}
.telefone, .cep {
    margin-right: -14px;
    display: inline-block;
    width: 50%;
}
.rua, .ncasa {
    margin-right: -14px;
    display: inline-block;
    width: 50%;
}
.bairro, .cidade {
    margin-right: -14px;
    display: inline-block;
    width: 50%;
}

#gvConsultaClientes{
    float: right;
    margin-top: 10px;
    width:50%;
}
.btns {
    margin-right: 15px;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    box-shadow: 3px 3px 3px #000;
}
#btnSalvar {
    background-color: #088A08;
}
#btnEditar {
    background-color: #FFFF00;
}
#btnExcluir {
    background-color: #FF0000;
}
/* CSS LOGIN */
.TelaLogin {
    width: 40%;
    margin-right: 30%;
    margin-left: 30%;
    height: 50%;
    border: 2px solid #000;
    clear: both;
}
.headerLogin {
    height: 70px;
    width: 50%;
    margin: 0 auto;
    border: 2px solid #ccc;
    margin-bottom: 20px;
    margin-top: 10px;
}
#logoLogin {
    float: left;
    margin: 10px;
}
#tituloLogin {
    display: inline-block;
    padding-top: 20px;
}
.corpoLogin {
    text-align: center;
}
.TelaLogin > .corpoLogin {
    font-size: 22px;
}
#btnLogar {
    margin: 20px;
    width: 100px;
    height: 30px;
    box-shadow: 2px 2px 2px #000;
}