body {
    font-family: 'Merriweather', serif;
    width: 50%;
    background-color: #8DD288;
}
#btnCliente{
    margin: 10px 20px;
}
#logo{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    width: 70px;
    height: 70px;
}
.Dados{
    margin-left: 20px;
    width:500px;
    height: 100%;
    float: left;
    margin-bottom: 20px;
}
.gvConsultaClientes {
    float: right;
}
#Titulo{
    margin: 0 auto;
}
#logo, #Titulo {
    display: inline-block;
}
#inserirDados, #txbID {
    display: inline-block;
    width: 120px;
}
.nome, .nasc {
    display: inline-block;
}
.email, .cpf {
    display: inline-block;
}
.telefone, .cep {
    display: inline-block;
}
.rua, .ncasa {
    display: inline-block;
}
.bairro, .cidade {
    display: inline-block;
}
.botoes{
    padding-bottom: 20px;
}
#btnSalvar, #btnEditar, #btnExcluir{
    width: 20%;
    margin-left: 30px;
    
}