body {
    font-family: 'Merriweather', serif;
    width: 1500px;
    background-color: #48D1CC;
}
#btnCliente{
    margin: 10px 20px;
}
#logo{
    margin-left: 20px;
    margin-right: 10px;
    width: 90px;
    height: 90px;
}
.Dados{
    margin-left: 20px;
    width:500px;
    height: 100%;
    float: left;
    margin-bottom: 20px;
}
.gvConsultaClientes {
    margin-left: 30px;
    margin-bottom:30px;
    margin-top: 12px;
}
#Titulo{
    margin: 0 auto;
}
#logo, #Titulo {
    display: inline-block;
}
#inserirDados, #txbID {
    display: inline-block;
    width: 120px;
}
.nome, .nasc {
    display: inline-block;
}
.email, .cpf {
    display: inline-block;
}
.telefone, .cep {
    display: inline-block;
}
.rua, .ncasa {
    display: inline-block;
}
.bairro, .cidade {
    display: inline-block;
}
#btnSalvar, #btnLimpar #btnExcluir{
    width: 20%;
    margin-left: 40px;
    
}
#txbDataNascimento {
    border: 2px solid #000;
}